* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* header */
header {
    width: 100%;
    background-color: rgb(255, 154, 108);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 9999;
}

header .bx-menu {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 9999;
}

/* navbar */
nav ul {
    list-style: none;
    display: flex;
    z-index: 9998;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;

}

/* navbar */
/* header */
/* loadingPage */
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    z-index: 9998;
}

.preloader span {
    border: 2px solid rgb(255, 154, 108);
    background-color: rgb(255, 154, 108);
    margin: 5px;
    border-radius: 10px;
    width: 22px;
    height: 22px;
    opacity: 1;
    animation-name: loading;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes loading {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }

    100% {
        transform: translateY(40px);
    }
}

span:nth-child(1) {
    animation-delay: 100ms;
}

span:nth-child(2) {
    animation-delay: 400ms;
}

span:nth-child(3) {
    animation-delay: 800ms;
}

/* loadingPage */
/* inicio */
section {
    width: 100%;
    height: 100vh;
    padding: 1rem 0;
}

.inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.inicio .subtitulo {
    line-height: 30px;
}

.inicio h1 {
    font-size: 30px;
    width: 500px;
}

.inicio p {
    font-size: 18px;
    width: 500px;
    margin-top: 0.5rem;
}

.inicio .btn-links {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    gap: 1rem;
}

.inicio .btn-links .btn1 {
    text-decoration: none;
    color: #fff;
    background-color: rgb(255, 114, 94);
    padding: 10px 18px;
    border-radius: 4px;
}

.inicio .btn-links .btn2 {
    color: rgb(255, 114, 94);
}

.inicio .img {
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}

/* inicio */
/* clinica */
.clinica {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 1rem;
}

.clinica p {
    padding: 1rem 0;
    width: 500px;
}

.clinica ul {
    padding: 1rem;
}
/* farmacia */
.famacia {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding: 1rem;
}

.farmacia p {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* farmacia */
/* duvidas */
.duvidas {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.duvidas .topicos {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 1rem;
}

.duvidas .duvida {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border: 2px solid rgb(255, 114, 94);
    border-radius: 10px;
    padding: 1rem 0 0;
    margin: 10px 0;
    cursor: pointer;
    width: 550px;
    transition: all 0.3s ease;
}

.duvida .paragraph {
    text-align: left;
    padding: 0.5rem 1rem;
    width: 550px;
    border: 2px solid rgb(255, 114, 94);
    border-radius: 4px;
    height: 0;
    opacity: 0;
}

.duvida.ativa .paragraph {
    opacity: 1;
    height: auto;
}
/* duvidas */
footer {
width: 100%;
display: flex;
justify-content: center;
background-color: rgb(255, 154, 108);
padding: 1rem;
}

.footer{
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    
}

.footer .footerSubtitulo h3{
width: 400px;
margin-top: 0.5rem;
}

.footer .links-rapidos a{
    text-decoration: none;
    color: inherit;
    
}

.footer .links-rapidos ul{
    list-style: none;
    margin-top: 0.5rem;
    line-height: 30px;
}

.footer .dados {
    line-height: 30px;
    margin-top: 0.5rem;
    font-size: 16px;
}

.copyright{
    width: 100%;
    background-color: #333;
    padding: 2rem 0 1rem;
    color: #fff;
    line-height: 30px;
}

.copyright a{
    color: inherit;
}

.copyright .redes-sociais a{ 
    font-size: 26px;
    margin: 5px;
    transition: 0.3s ease-in-out;
}

.copyright span{
    color: rgb(255, 114, 94);
}

.copyright .redes-sociais a:hover
{
    color: rgb(255, 114, 94);
}


/* responsive 768px */
@media (max-width: 768px) {
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header img{
        position: relative;
    }

    header .bx-menu {
        display: block;
    }

    header nav ul {
        display: none;
    }

    .menuMobile {
        position: fixed;
        top: 3.5rem;
        left: 0;
        z-index: 9998;
        list-style: none;
        color: black;
        border: 2px solid rgb(255, 114, 94);
        background-color: #ffffffd7;
        width: 100%;
        display: none;
        animation-name: menuMobile;
        animation-duration: 2000ms;
        animation-iteration-count: initial;
        animation-timing-function: ease-in-out;
    }

    @keyframes menuMobile {
        0% {
            transform: translateY(-100px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .menuMobile ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 10px;
        padding: 1rem 0.5rem;
    }

    .menuMobile a {
        color: black;
        font-size: 15px;
    }

   
    .inicio{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
    }
    .inicio img {
        width: 100%;
    }

    .inicio h1{
        width: 100%;
        font-size: 15px;
        padding: 0rem 4rem;
        text-align: center;
        line-height: 20px;
        margin-top: -1rem;
    }

    .inicio p{
        width: 100%;
        padding: 0 2rem;
        font-size: 14px;
        line-height: 1.2;
    }

    .inicio .btn-links{
        flex-direction: column;
        gap: 15px;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
    }

    .inicio .img{
        position: absolute;
        top: 23rem;
    }

    .clinica{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 2rem;
        padding: 2rem 0 0;
    }

    .clinica .clinica-subtitulo h1{
        font-size: 20px;

    }

    .clinica .clinica-subtitulo p{
        padding: 0 2rem;
        text-align: left;
    }

    .clinica .clinica-subtitulo ul{
        text-align: left;
        margin-left: 2rem;
        padding: 1rem 2rem;
    }

    .clinica img{
        width: 100%;
        height: auto;
        margin-top: -3rem;
    }

    .famacia{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .farmacia  h1{
        font-size: 18px;
        padding: 5rem 0 0;
        margin-top: 2rem;
    }

    .farmacia img{
        width: 100%;
        
    }

    .farmacia p {
        text-align: left;
        margin-top: -1rem;
        
    }

    .duvidas{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: -3rem;
        
    }

     .duvidas img{
     width: 100%;
    }

    .duvidas .topicos {
        width: 100%;
    }

    .duvidas .duvida{
        width: 100%;
    }

    .duvida h2 {
        width: 100%;
        font-size: 15px;
        padding: 0 1rem;
        
    }

    .duvida .paragraph{
        width: 100%;
        padding: 0.3rem 1rem 0.5rem;
        text-align: left;
        border: none;
        
    }

    .duvidas .duvida img{
        width: 15px;
    }

    
   footer .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: left;
        align-items:start;
        gap: 10px;
    }

   .footer .links-rapidos ul{
        display:block;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        text-align: left;
    }
   
}

/* responsive 768px */

/* responsive 1024 */

@media (max-width: 1024px) {
    .inicio{
        width: 100%;
    }
    .inicio .btn-links{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .clinica{
        width: 100%;
    }

    .clinica .clinica-subtitulo p{
        width: 100%;
        line-height: 30px;
    }
    .duvidas{
        width: 100%;
        padding: 4rem 0 0;
    }

    .duvidas .duvida h2{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    footer{
        width: 100%;
        margin-top: 10rem;
    }
}